<div class="container2">
    <div class="row">

        <!-- Tarjeta para gestión de Clientes -->
        <div class="col s5 m3" style="width: 170px;">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <center>
                        <span class="card-title"><h6>Clientes</h6></span>
                        <a href="/genesys/system/Clientes/clientes">
                            <!-- <img class="responsive" src="../../resources/images/iconos/Clinetes1.png" /> -->
                            <i class="fas fa-user-friends fa-3x" style="color:#FFFFFF;"></i>
                        </a>  
                    </center>
                </div>
            </div>
        </div>

        <!-- Tarjeta para gestión de proveedores -->
        <div class="col s5 m3" style="width: 170px;">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <center>
                        <span class="card-title"><h6>Proveedores</h6></span>
                        <a href="/genesys/system/Proveedores/proveedores">
                            <!-- <img class="responsive" src="../../resources/images/iconos/Proveedores.png" /> -->
                            <i class="fas fa-truck fa-3x" style="color:#FFFFFF;"></i>
                        </a>
                    </center>
                </div>
            </div>
        </div>

        <div class="col s5 m3" style="width: 170px;">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <center>
                        <span class="card-title"><h6>Compras</h6></span>
                        <a href="/genesys/system/Compras/productos">
                            <!-- <img class='responsive' src='http://localhost/PDHN/Sistem/Resource/images/iconos/Shopping_cart1.png' /> -->
                            <i class="fas fa-dolly fa-3x" style="color:#FFFFFF;"></i>
                        </a>
                    </center>
                </div>
            </div>
        </div>

    </div>
</div>
