<div class="container2">

    <div class="row">

        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a href="#test1">Proveedores</a>
                </li>
                <li class="tab col s3">
                    <a onclick="proveedores.getTickets(1)" href="#test2">Historial</a>
                </li>
            </ul>
        </div>

        <div id="test1" class="col s12">

            <div class="row">
            
                <div class="input-field col s0">
                    <a onclick="" class="waves-effect waves-light btn" href="registrar">Registrar</a>
                </div>

                <div class="input-field col s6">
                    <input placeholder="Buscar proveedor" id="searchProveedores" type="text" onKeyUp="getProveedores(1)">
                    <label for="searchProveedores">Buscar proveedores</label>
                </div>

            </div>

            <button class="waves-effect waves-light btn-small grey darken-3" onclick="exportarProveedores()">Export</button>

            <ul class="collapsible">

                <li>

                    <div class="collapsible-header">
                        <!-- <img class='responsive' src='../Resource/images/iconos/Proveedores2.png' /> -->
                        <i title='Catálogo de proveedores' class='fas fa-truck' style='color: cadetblue;'></i>Proveedores
                    </div>
                
                    <div class="collapsible-body">
                        <table class="table">

                            <thead>
                                <tr><th>Foto</th><th>Proveedor</th><th>Opciones</th></tr>
                            </thead>

                            <tbody id="resultProveedores">
                            </tbody>

                        </table>

                        <div id="paginadorProveedores">

                        </div>

                    </div>

                </li>

            </ul>

        </div>

        <div id="test2" class="col s12">

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Buscar ticket" id="searchTicket" type="text" onKeyUp="getPtickets(1)">
                    <label for="searchTicket">Buscar ticket</label>
                </div>
            </div>

            <button class="waves-effect waves-light btn-small amber darken-3" onclick="exportarTicketProveedores()">Export</button>

            <ul class="collapsible">
            
                <li>

                    <div class="collapsible-header">
                        <!-- <img class='responsive' src='http://localhost/PDHN/Sistem/Resource/images/iconos/Proveedores2.png' /> -->
                        <i title='Cartera proveedor' class='fas fa-comment-dollar' style='color: cadetblue;'></i>Proveedores
                        <label style="font-size: 15px">Ticket</label>
                    </div>

                    <div class="collapsible-body">
                        <table class="table">

                            <thead>
                                <tr><th>Deuda</th><th>Fecha Deuda</th><th>Pago</th><th>Fecha Pago</th><th>Ticket</th></tr>
                            </thead>

                            <tbody id="resultTicketP">
                            </tbody>

                        </table>

                        <div id="paginadorTicketP">

                        </div>

                    </div>

                </li>

            </ul>

        </div>

    </div>  <!-- row -->

</div>    <!-- container principal -->
