<div id="" class="container2">

    <form id="validate" method="post" enctype="multipart/form-data">

        <div class="modal-content">

            <center>
                <h5>Registrar proveedores</h5>
            </center>

            <div class="row">

                <div class="col s9 m4">

                    <div class="card ">

                        <div class="card-content white-text">
                            <center>
                                <span class="card-title blue-grey-text  ">Foto/imagen</span>
                                <output id="fotoProveedor">
                                    <img class=" responsive-img" src="http://localhost/genesys/system/resources/images/fotos/proveedores/default.png" />
                                </output>
                            </center>
                        </div>

                        <div class="card-action">
                            <a>
                                <div class="file-field input-field">
                                    <div class="btn waves-effect waves-light">
                                        <span>Subir</span>
                                        <input accept="image/*" type="file" id="files">
                                        <div class="file-path-wrapper">
                                            <input class="file-path " type="text">
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </a>

                            <center>
                                <a>Imagen</a>
                            </center>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="row">

                        <div class="input-field col s6">
                            <input type="text" name="Proveedor" placeholder="Proveedor" id="proveedor" required>
                            <label class="error" for="proveedor">Proveedor</label>
                        </div>

                        <div class="input-field col s6">
                            <input type="text" name="Telefono" placeholder="Nro. Teléfono" id="telefono" required>
                            <label class="error" for="telefono">Tel&eacute;fono</label>
                        </div>

                        <div class="input-field col s6">
                            <input type="email" name="Email" placeholder="Email" id="email" required>
                            <label class="error" for="email">Email</label>
                        </div>

                        <div  class="input-field col s6">
                            <input type="text" name="Direccion" placeholder="Dirección" id="direccion"  required/>
                            <label class="error" for="direccion">Direcci&oacute;n</label>
                        </div>

                        <div class="input-field col s6">
                            <button type="submit" class="waves-effect waves-light btn" id="registerProveedor">Registrar</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </form>

    <div class="modal-footer">
        <label id="messageProveedor" class="red-text text-darken-4 "> </label>
    </div>

</div>