<div class="container">
    <div class="ro">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-content">
                    <center>
                        <h4>Inicio de sesi&oacute;n</h4>
                    </center>

                    <form class="login" action="" method="POST" id="validate">
                        <div class="input-field col s12">
                            <input id="email" name="email" class="validate" type="email" required>
                            <label for="email" class="error">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="password" id="password" name="password" class="validate" minlength="8" maxlength="20" required>
                            <label for="password" class="error">Password</label>
                        </div>
                    </form>

                    <center>
                        <button onclick="loginUser();" id="btnLogin" class="waves effect waves-light btn" accesskey="13">Iniciar sesi&oacute;n</button>
                    </center>

                    <br>
                    <label id="indexMessage" class="error Message"></label>
                </div>
            </div>
        </div>
    </div>
</div>
