<div class="container2">
    <div class="row">

        <h5>Compras de productos</h5>

        <div id="test1" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <form method="get">
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" placeholder="Buscar producto">
                            </div>
                        </div>
                    </form>
                </div>

                <a href="compras" class="waves-effect waves-light btn-small ">Comprar</a>

            </div>
        </div>

    </div>
</div>