<div class="container2">
    <h5>Usuarios</h5>
    <div class="row">
        <div class="input-field col s0">
            <!-- onclick="restablecerUser();" -->
            <a href="#modal1" class="waves-effect waves-light btn modal-trigger">Registrar</a>
        </div>
        <div class="input-field col s6">
            <input  placeholder="Buscar usuario" type="text" name="filtrarUser" id="filtrarUser" onkeyup="getUsers(1)">
            <label for="filtrar">Buscar usuario</label>
        </div>    
    </div>  

    <table class="table">
        <thead>
            <tr>
                <th>Foto</th><th>P. Nombre</th><th>Usuario</th><th>Role</th><th>Opciones</th>
            </tr>
        </thead>
        <tbody id="resultUser"></tbody>
    </table>

    <div id="paginador">
        
    </div>

    <!-- Modal structure   -->
    <div id="modal1" class="modal modal-fixed-footer">

        <form class="col s12" id="validate" enctype="multipart/form-data" method="POST">
            <div class="modal-content">
                <center>
                    <h5>Registrar usuarios</h5>
                </center>

                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-content white-text">
                                <center>
                                    <span class="card-tittle blue-grey-text">Foto o Imagen</span>
                                    <output id="fotos"></output> 
                                </center>
                            </div>

                            <div class="card-action">
                                <center>
                                    <a>
                                        <div class="file-field input-field">
                                            <div class="btn waves-effect waves-light">
                                                <span>Upload</span>
                                                <input type="file" accept="image/*" id="files" name="files">
                                                <div class="file-path-wrapper">
                                                    <input class="file-path" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a>Foto o Imagen</a>
                                </center>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" placeholder="P. Nombre" name="pnombre" id="pnombre" class="validate" required>
                            <label class="error" for="pnombre">P. Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" placeholder="S. Nombre" name="snombre" id="snombre" class="validate" required>
                            <label class="error" for="snombre">S. Nombre</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" placeholder="Apellido" name="apellido" id="apellido" class="validate" required>
                            <label class="error" for="apellido">Apellidos</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" placeholder="NID" name="nid" id="nid" class="validate" required>
                            <label class="error" for="nid">NID</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="number" placeholder="No. Teléfono" name="telefono" id="telefono" class="validate" required>
                            <label class="error" for="telefono">No. Telefono</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input type="email" placeholder="Email" id="email" name="email" class="validate" required>
                            <label class="error" for="email">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="password" placeholder="Password" id="password" name="password" class="validate" minlength="8" maxlength="20" required>
                            <label class="error" for="password">Contrase&ntilde;a</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="input-field col s6">
                            <input type="text" placeholder="Usuario" id="usuario" name="usuario" class="validate" required>
                            <label class="error" for="usuario">Usuario</label>
                        </div>

                        <div class="input-field col s6">
                            <select id="roles" name="roles">
                            </select>
                            <label for="roles">Tipo de Roles</label>
                        </div>
                        
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <label id="registerMessage" class="text-left Message"></label>
                <button id="registerClose" class="waves-effect waves-light btn">Cancelar</button>
                <button id="registerUser" class="waves-effect waves-light btn">Registrar</button>
            </div>

        </form>

    </div>

    <!-- Modal para pedir condirmación de eliminación de un usuario -->
    <!-- Creación de modal en materialize -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Est&aacute;s seguro de eliminar el usuario?</h4>
            <p id="userName"></p>
        </div>
        <div class="modal-footer">
            <label id="dateUserMessage" class="text-left Message"></label>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a href="#!" id="deleteUser" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
    </div>

</div>
