<!-- Creación de sistema de pestañas con Materialize -->
<div class="container2">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a href="#test1">Clientes</a>
                </li>
                <li class="tab col s3">
                    <a onclick="cliente.getTickets(1)" href="#test2">Historial</a>
                </li>
            </ul>
        </div>

        <div id="test1" class="col s12">

            <div class="row">
                
                <div class="input-field col s0">
                    <a onclick="cliente.restablecerCliente(2);" href="#modal1" class="waves-effect waves-light btn modal-trigger">Registro</a>
                </div>
                
                <div class="input-field col s6">
                    <input name="searchClientes" type="text" id="searchClientes" onkeyup="getClientes(1)" placeholder="Buscar cliente" />
                    <label for="searchClientes">Buscar cliente</label>
                </div>

            </div>

            <button class="waves-effect waves-light btn-small grey darken-3" onclick="exportarClientes()">Exportar</button>

            <!-- Creamos unas secciones que sean colapsables con la etiqueta UL -->
            <ul class="collapsible">
                <li>

                    <div class="collapsible-header">
                        <!-- <img src="" alt="" class="responsive" /> Clientes -->
                        <i title='Clientes' class='fas fa-users' style='color: cadetblue;'></i> Clientes
                    </div>

                    <div class="collapsible-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Foto</th><th>Nombre</th><th>Apellido</th><th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody id="resultCliente">

                            </tbody>
                        </table>

                        <div id="paginadorCliente">

                        </div>

                    </div>

                </li>                

                <!-- <li> -->

                    <!-- <div class="collapsible-header"> -->
                        <!-- <img src="" alt="" class="responsive" /> Reportes -->
                        <!-- <i title='Reportes' class='fas fa-calendar-check' style='color: cadetblue;'></i> Reportes -->
                    <!-- </div> -->

                    <!-- <div class="collapsible-body"> -->
                        <!-- Por ahora queda en blanco -->
                    <!-- </div> -->

                <!-- </li> -->

            </ul>


        </div>

        <div id="test2" class="col s12">
            
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Buscar ticket" id="searchTicket" type="text" onKeyUp="getTickets(1)">
                    <label for="searchTicket">Buscar ticket</label>
                </div>
            </div>

            <button class="waves-effect waves-light btn-small amber darken-3" onclick="exportarTicketClientes()">Export</button>
            
            <ul class="collapsible">

                <li>
                    
                    <div class="collapsible-header">
                        <img class='responsive' src='http://localhost/genesys/system/resources/images/iconos/Clientes2.png' />
                        <label style="font-size: 15px">Ticket</label>
                    </div>
                    
                    <div class="collapsible-body">
                        <table class="table">

                            <thead>
                                <tr><th>Deuda</th><th>Fecha Deuda</th><th>Pago</th><th>Fecha Pago</th><th>Ticket</th></tr>
                            </thead>

                            <tbody id="resultTicket">
                                
                            </tbody>

                        </table>

                        <div id="paginadorTicket">

                        </div>

                    </div>

                </li>

            </ul>

        </div>  <!-- cierre tab de tickets -->

    </div>

</div>

<!-- Modal structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <form class="col s12" id="validate" enctype="multipart/form-data" method="POST">
        <div class="modal-content">
            <center>
                <h5>Registrar Clientes</h5>
            </center>

            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content white-text">
                            <center>
                                <span class="card-tittle blue-grey-text">Foto o Imagen</span>
                                <output id="fotoCliente"></output> 
                            </center>
                        </div>

                        <div class="card-action">
                            <center>
                                <a>
                                    <div class="file-field input-field">
                                        <div class="btn waves-effect waves-light">
                                            <span>Upload</span>
                                            <input type="file" accept="image/*" id="files" name="files" />
                                            <div class="file-path-wrapper">
                                                <input class="file-path" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a>Foto o Imagen</a>
                            </center>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" placeholder="Nombre" name="nombre" id="nombre" class="validate" required>
                        <label class="error" for="pnombre">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" placeholder="Apellido" name="apellido" id="apellido" class="validate" required>
                        <label class="error" for="apellido">Apellidos</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" placeholder="NID" name="nid" id="nid" class="validate" required>
                        <label class="error" for="nid">NID</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" placeholder="No. Teléfono" name="telefono" id="telefono" class="validate" required>
                        <label class="error" for="telefono">No. Telefono</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input type="email" placeholder="Email" id="email" name="email" class="validate" required>
                        <label class="error" for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" placeholder="Dirección" id="direccion" name="direccion" class="validate" required>
                        <label class="error" for="direccion">Direcci&oacute;n</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select name="creditos" id="creditos">
                            
                        </select>
                        <label for="creditos">Cr&eacute;ditos</label>
                    </div>                    
                </div>

                <input type="text" id="textError" required />
 
            </div>

        </div>
        <div class="modal-footer">
            <label  id="clienteMessage" class="text-left Message"></label>
            <button id="clienteClose"   class="waves-effect waves-light btn orange">Cancelar</button>
            <button id="registerCliente" class="waves-effect waves-light btn">Registrar</button>
        </div>

    </form>
</div>

