<div class="container2">
    <div class="modal-content">
        <center>
            <h5>Cartera Cliente</h5>
        </center>

        <div class="row">
            
            <div class="col s3 m3">
                <div class="card">
                    <div class="card-content white-text">
                        <center>
                            <span class="card-tittle blue-grey-text">Foto</span>
                            <output id="clienteReporte">
                            </output> 
                        </center>
                    </div>
                </div>
            </div>

            <div class="col s6 m6">
                <table class="table">
                    <thead><tr><th>Nombre</th><th>Apellido</th></tr></thead>
                    <tbody>
                        <tr>
                            <td><p id="clienteNombre"></p></td>
                            <!-- <td><label id="clienteNombre"> <?php echo $models; ?> </label></td> -->
                            <td><p id="clienteApellido"></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col s6 m6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <form action="" class="col s12" id="validate" method="POST">
                                    <div class="input-field col s12">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input type="text" id="pagos" name="pagos" placeholder="Valor a pagar" class="validate" required />

                                                <!-- <input type="hidden" id="deudaCliente"> -->
                                                
                                                <label for="pagos" class="error">Pagos</label>
                                            </div>

                                            <div class="input-field col s6">
                                                <button type="submit" onclick="return cliente.setPagos()" class="waves-effect waves-light btn-small light-green darken-3">Pagar</button>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <label id="pagoCliente" class="text-left Message"></label>
                                        </div>

                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    

        </div>

        <div class="row">

            <a href="#" class="waves-effect waves-light orange darken-2 btn-small" onclick="printThisDiv('imprimirticket')">Ticket</a>
            <span>Deuda: <span class="green-text text-darken-3" id="deudas"></span></span>
            <!-- <span>Credito: <span class="green-text text-darken-3">Activo</span></span> -->
            <output id="creditoCliente"></output>

            <div id="imprimirticket">
                <center>
                    <h5>Comprobante de Deuda</h5>
                </center>
                <ul class="collapsible">
                    <li>

                        <div class="collapsible-header">
                            <!-- <img src="http://localhost/genesys/system/resources/images/iconos/Clientes2.png" class="responsive"> -->
                            <i title='Deuda' class='fas fa-file-invoice-dollar' style='color: cadetblue;'></i><label style="font-size: 15px;" id="clienteNombres"></label>
                        </div>

                        <div class="collapsible-bod">
                            <table class="table">
                                <thead><tr><th>Deuda</th><th>Fecha Deuda</th><th>Pago</th><th>Fecha Pago</th><th>Ticket</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td><p id="deuda"></p>      </td>
                                        <td><p id="fechadeuda"></p> </td>
                                        <td><p id="pago"></p>       </td>
                                        <td><p id="fechapago"></p>  </td>
                                        <td><p id="ticket"></p>     </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div id="paginadorCliente"></div>

                        </div>

                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-footer">
            <label id="reporteClienteMessage" class="text-left Message"></label>
        </div>

    </div>
</div>
